<<<<<<< HEAD
footer{
	background:#fff;
	padding: 55px 5px 5px 5px;
	
	.nav{
		 text-transform: uppercase;
=======
.footer{
	background:#fff;
	 padding-top: 48px;
	padding: 5px;
	.nav{
>>>>>>> a3ba0113aeb9d13440dd17bc29f02bb8b42add53
		li{
			display:inline-block;
		}
	}
	.footer-container{
		a{
			color: #666;
<<<<<<< HEAD
			padding: 11px 11px;
    font-size: 16px;
    font-weight: 700;
		}
		.navbar-footer{
			padding-top: 14px;
=======
>>>>>>> a3ba0113aeb9d13440dd17bc29f02bb8b42add53
		}
	}
}